QLabel#label_hint_temperature{
    font: 20px;
    color:white;
}

QLabel#temperature_icon{
    border-image: url("./res/img/temperature.png");
}

QLabel#set{
    border-image: url("./res/img/set.png");
}
