hfMainWindow{
    background: #10103e;
}

QFrame#control_panel{
    margin-top: 10px;
}
QFrame#frame{
    margin-left: 5px;
    margin-right: 5px;
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#temperature_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#wet_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#noise_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#frame_10{
    margin-top: 10px;
}
QFrame#frame_2{
    margin-top: 10px;
}

QLabel#label{
    border-image: url("D:\\project\\hfIIMS\\hfIIMS\\res\\img\\logo.svg");
}
QLabel#label_2{
    font: 35px;
    color:white;
}
QLabel#people_icon{
    border-image: url("./res/img/people.png");
}
QLabel#heart_icon{
    border-image: url("./res/img/heart.png");
}
QLabel#waves_icon{
    border-image: url("./res/img/waves.png");
}

QLabel#waves_arrow{
    border-image: url("./res/img/waves_arrow.png");
}

QLabel#label_4{
    border-image: url("D:\\project\\hfIIMS\\hfIIMS\\res\\img\\logo.svg");
}

QLabel#label_7{
    font: 35px;
    color:white;

}
QLabel#label_8{
    font: 20px;
    color:white;
}
QLabel#label_9{
    font: 80px;
    color:white;
}
QLabel#label_10{
    font: 80px;
    color:white;
}
QLabel#label_11{
    font: 80px;
    color:white;
}

