hfMainWindow{
    background: #10103e;
}

QFrame#control_panel{
    margin-top: 10px;
}
QFrame#train_bg_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#temperature_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#wet_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#noise_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#heart_rate_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#oxygen_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#volume_set_frame{
    border-width:12px;
    border-image: url("./res/img/frame.png") 12px 12px 12px 12px stretch stretch;
}

QFrame#oxygen_value_frame{
    border-image: url("./res/img/oxygen_value_frame.png");
}

QLabel#people_icon{
    border-image: url("./res/img/people.png");
}
QLabel#heart_icon{
    border-image: url("./res/img/heart.png");
}
QLabel#waves_icon{
    border-image: url("./res/img/waves.png");
}

QLabel#waves_arrow{
    border-image: url("./res/img/waves_arrow.png");
}

QLabel#oxygen_icon{
    border-image: url("./res/img/oxygen.png");
}

QLabel#oxygen_alert{
    border-image: url("./res/img/oxygen_alert.png");
}

QLabel#oxygen_point{
    border-image: url("./res/img/oxygen_point.png");
}

QLabel#oxygen_alert_icon1{
    border-image: url("./res/img/oxygen_alert_icon1.png");
}

QLabel#oxygen_alert_icon2{
    border-image: url("./res/img/oxygen_alert_icon2.png");
}

QLabel#heart_rate_icon{
    border-image: url("./res/img/heart_rate.png");
}

QLabel#heart_rate_set{
    border-image: url("./res/img/set.png");
}

QLabel#heart_rate_alert{
    border-image: url("./res/img/heart_rate_alert.png");
}